.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.live{
  padding-bottom: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-block;
  background-color: #d00a0a;
  color: white;
  padding: 12px 24px;
  margin-top: 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
}

.videoContainer {
  width: 100%;
  max-width: 800px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.responsiveVideo {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f8f8;
  font-size: 0.875rem;
}

.contact {
  text-align: right;
}

.footer a {
  color: #0070f3;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.whatsappButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.whatsappIcon {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.whatsappIcon:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .whatsappIcon {
    width: 50px;
    height: 50px;
  }

  .whatsappButton {
    bottom: 15px;
    right: 15px;
  }
}
